/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

// Row block
.editor-styles-wrapper [data-type="resource-layout-blocks/row"] {
	// WordPress overrides the negative margin on the row. Get it back.
	margin-right: calc(-.5 * var(--bs-gutter-x));
	margin-left: calc(-.5 * var(--bs-gutter-x));

	// Bootstrap's after-row clearfix conflicts with WordPress' 'is-highlighted' class for blocks that are
	// selected in the List View. Adding this makes the highlight work again.
	&::after {
		width: 100%;
		height: 100%;
	}

	// Container background on hover to make it visible
	&:not(.is-selected):not(.has-child-selected):hover,
	&.is-selected {
		outline: 1px dashed purple;
		position: relative;

		&::before {
			content: "row";
			position: absolute;
			top: -11px;
			left: -1px;
			display: block;
			color: purple;
			font-size: 0.5rem;
		}
	}
}
