/**
 * Editor only styles.
 */

[data-type="resource-layout-blocks/row"] {
	outline: 1px dashed rgba(#800080, 0.25);

	// 'Collapses' the inner blocks so that .row > * works properly.
	> .block-editor-inner-blocks {
		display: contents;

		/* stylelint-disable-next-line */
		> .block-editor-block-list__layout {
			display: contents;

			// looks like two levels of display: contents does not exactly work,
			// so here is the Bootstrap CSS:
			> * {
				flex-shrink: 0;
				//width: 100%;
				max-width: 100%;
				padding-right: calc(var(--bs-gutter-x) * 0.5);
				padding-left: calc(var(--bs-gutter-x) * 0.5);
				margin-top: var(--bs-gutter-y);
			}
		}
	}

	// background on hover to make it visible
	&:not(.is-selected):not(.has-child-selected):hover,
	&.is-selected {
		outline: 1px dashed #800080;
	}
}
