/* stylelint-disable */
.editor-styles-wrapper .block-editor-block-list__block.is-highlighted,
.editor-styles-wrapper .block-editor-block-list__block.is-highlighted ~ .is-multi-selected,
.editor-styles-wrapper .block-editor-block-list__block:not([contenteditable]):focus,
.editor-styles-wrapper .is-block-moving-mode.block-editor-block-list__block.has-child-selected {
	/* stylelint-enable */
	box-shadow: none;
	outline: 1px dashed #f0ff;
}

.editor-styles-wrapper :where(.wp-block) {
	margin-bottom: 0;
	margin-top: 0;
}

@media (min-width: 782px) {

	.interface-complementary-area {
		width: 290px;
	}
}

.breakpoint-tab-panel {

	button.breakpoint-tab {
		font-size: 0.7rem;
	}
}

/* stylelint-disable-next-line */
.block-editor-block-inspector__advanced {

	> div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		> div {
			flex: 1 1 100%;

			&.inline-style-control {
				order: 99;
			}
		}
	}
}

div.resource-card-header {
	font-size: 0.75rem;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 600;
	letter-spacing: 2px;
}

#class-inspector.components-accessible-toolbar {
	border: 0;
	border-right: 1px solid #1e1e1e;
	justify-content: center;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 0.7rem;
	max-width: 250px;
	line-height: 1.3;
}
