/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.breakpoint-tab-panel {
	button.breakpoint-tab {
		font-size: 0.7rem;
	}
}

// Container block
[data-type="resource-layout-blocks/container"] {
	// Container background on hover to make it visible
	&:not(.is-selected):not(.has-child-selected):hover,
	&.is-selected {
		outline: 1px dashed red;
		position: relative;

		&::before {
			content: "container";
			position: absolute;
			top: -2px;
			left: 2px;
			display: block;
			color: red;
			font-size: 0.5rem;
		}
	}
}
