/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

// Container block
[data-type="resource-layout-blocks/container"] {
	outline: 1px dashed rgba(red, 0.25);

	// 'Collapses' the inner blocks so that .container > .row works properly.
	> .block-editor-inner-blocks {
		display: contents;

		> .block-editor-block-list__layout {
			display: contents;
		}
	}

	// background on hover to make it visible
	&:not(.is-selected):not(.has-child-selected):hover,
	&.is-selected {
		outline: 1px dashed red;
		position: relative;

		&::before {
			content: "container";
			position: absolute;
			top: -11px;
			left: 1px;
			display: block;
			color: red;
			font-size: 0.5rem;
		}
	}
}
