// Column block
[data-type="resource-layout-blocks/column"] {
	outline: 1px dashed rgba(magenta, 0.25);

	// background on hover to make it visible
	&:not(.is-selected):not(.has-child-selected):hover,
	&.is-selected {
		outline: 1px dashed magenta;
		position: relative;

		&::before {
			content: "column";
			position: absolute;
			top: -11px;
			left: 1px;
			display: block;
			color: magenta;
			font-size: 0.5rem;
		}
	}
}
